<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubah Password</title>
    <link th:href="@{/styles/form.css}" rel="stylesheet" />
</head>
<body>
    
    <div class="form-container">
        <h2>Lupa Password</h2>
        
        <!-- Display the error message if it exists -->
        <div th:if="${success != null}" class="success-message">
            <p th:text="${success}"></p>
        </div>
        <div th:if="${error != null}" class="error-message">
            <p th:text="${error}"></p>
        </div>

        <form th:action="@{/user/lupa-password}" method="post">
            <input type="hidden" name="username" th:value="${username}" />

            <div>
                <label for="secAnswer" th:text="${userSecQuestion}"></label>
                <input id="secAnswer" name="secAnswer" required>
            </div>
            <div>
                <label for="newPassword">New Password:</label>
                <!-- Regular expression added in pattern attribute for validation -->
                <input type="password" id="newPassword" name="newPassword" required
                       pattern="(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,}"
                       title="Password harus memiliki 8 katakter atau lebih, mempunyai minimal 1 huruf besar dan satu angka">
            </div>
            <div>
                <label for="confirmPassword">Confirm Password:</label>
                <!-- Regular expression added in pattern attribute for validation -->
                <input type="password" id="confirmPassword" name="confirmPassword" required
                       pattern="(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,}"
                       title="Password harus memiliki 8 katakter atau lebih, mempunyai minimal 1 huruf besar dan satu angka">
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
            <div>
                <!-- Button to go back to homepage -->
                <button type="button" class="back-home-btn" 
                th:onclick="'window.location.href=\'' + @{/} + '\';'" >Back to Homepage</button>
            </div>
        </form>
    </div>

</body>
</html>
