<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubah Password</title>
    <link th:href="@{/styles/form.css}" rel="stylesheet" />
</head>
<body>
    <div class="form-container">
        <h2>Lupa Password</h2>

        <div th:if="${success != null}" class="success-message">
            <p th:text="${success}"></p>
        </div>
        <div th:if="${error != null}" class="error-message">
            <p th:text="${error}"></p>
        </div>

        <form th:action="@{/user/lupa-password-verif}" method="post" onsubmit="return validateForm()">
            <div>
                <label for="username">Username:</label>
                <input id="username" name="username" required>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
            <div>
                <button type="button" class="back-home-btn" 
                th:onclick="'window.location.href=\'' + @{/} + '\';'">Back to Homepage</button>
            </div>
        </form>
    </div>
</body>
</html>
