<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>User Profile</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Profil Pengguna</h1>-->
<!--<p>Nama: <span th:text="${user.name}"></span></p>-->
<!--<p>Username: <span th:text="${user.username}"></span></p>-->
<!--<p>Role: <span th:text="${user.peran.name}"></span></p> &lt;!&ndash; Menggunakan 'name' untuk peran &ndash;&gt;-->

<!--&lt;!&ndash; Jika 'Member', nomor telepon bisa ditampilkan jika ada &ndash;&gt;-->
<!--<div th:if="${user.peran.name == 'Member'}">-->
<!--    <p>Nomor Telepon: <span th:text="${user.telephone}"></span></p> &lt;!&ndash; Pastikan field 'telephone' ada di UserModel &ndash;&gt;-->
<!--</div>-->

<!--&lt;!&ndash; Tampilkan tombol Edit jika 'showEditButton' true &ndash;&gt;-->
<!--<div th:if="${showEditButton}">-->
<!--    <a href="/user/edit" class="btn btn-primary">Edit Profil</a>-->
<!--</div>-->

<!--&lt;!&ndash; Tampilkan tombol Delete jika 'showDeleteButton' true &ndash;&gt;-->
<!--<div th:if="${showDeleteButton}">-->
<!--    <a href="/user/delete" class="btn btn-danger">Delete Akun</a>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
