<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Store Managers</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>Store Manager Accounts</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Username</th>
    <th>Role</th>
    <th>Identification Number</th>
  </tr>
  <tr th:each="manager : ${storeManagers}">
    <td th:text="${manager.name}">Name</td>
    <td th:text="${manager.username}">Username</td>
    <td th:text="${manager.peran.name}">Role</td>
    <td th:text="${manager.companyid}">Identification Number</td>
  </tr>
</table>

<a href="/user/profile" class="btn btn-secondary">Back to Profile</a>

</body>
</html>
